html {
    font-family: sans-serif;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  fieldset {
    background: rgb(216, 225, 225);
    border: 5px solid rgb(0, 5, 150);
  }
  
  legend {
    padding: 10px;
    background: rgb(0, 5, 150);
    color: rgb(255, 255, 255);
  }